.title {
  margin: 0 auto;
  width: 100px;
}
.informations_planetes {
  margin: 10px;
  width: auto;
  display: flex;
  justify-content: space-around;
}

.planet {
  margin-right: 20px;
  height: 400px;
  width: 400px;
}

.description {
  background-color: white;
  text-align: justify;
  padding: 20px;
  margin-left: 25px;
  margin-right: 10px;
}

.proprietaire {
  max-width: 700px;
  vertical-align: middle;
  background-color: white;
  padding: 20px;
}

.bottom_view {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.biography {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#price {
  position: relative;
  top: 300px;
}

#description_planete {
  width: 500px;
}

#container_proprio {
  width: 400px;
  justify-content: center;
  vertical-align: middle;
  position: relative;
}
