.title {
  margin: 0 auto;
  width: 100px;
}
.informations_planetes {
  margin: 10px;
  width: auto;
  display: flex;
  justify-content: space-around;
}

.planet {
  margin-right: 20px;
  height: 400px;
  width: 400px;
}

.description {
  background-color: white;
  text-align: justify;
  padding: 20px;
}

.proprietaire {
  max-width: 400px;
  vertical-align: middle;
}

.bottom_view {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#info_proprio {
  display: flex;
  justify-content: center;
}
