<h1>Your Spaceport</h1>
<h3>WELCOME to Spaceport America</h3>
<img class="spaceport" src="https://www.abqjournal.com/wp-content/uploads/2014/11/a01_jd_09nov_space3.jpg#main">
<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @coordinates.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
