.btn-flat {
  color: black;
  padding: 8px 24px;
  border-radius: 4px;
  background: lightgrey;
  transition: background 0.3s ease;
  margin: 50px;
}

.btn-flat:hover {
  background: black;
  color: lightgrey;
}

#btn-creer {
  margin: 20px;
}
