.container_infos {
  width: auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  place-content: space-around start;
}

.container_links {
  margin-right: 10px;
}

.donnees {
  padding-inline-start: 5px;
}

.contenaire_form {
  width: 450px;
  margin: 0 auto;
}
